.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
    padding: 0;
    list-style-type: none; 
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .company {
    margin: 0 0 4px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .jobTitle {
    margin: 0 0 16px 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #555;
  }
  .controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .controls label {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .controls select {
    padding: 4px 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  input[type='file'] {
    display: block;
    margin-top: 8px;
  }
  .controlsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .addButton {
    background-color: #415A77;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .addButton:hover {
    background-color: #1B263B;
  }
  
  .searchAndSort {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
  }
  
  .searchInput {
    position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
  max-width: 400px; 
  width: 100%; 
    padding: 8px 12px;
    border: 1px solid #415A77;
    border-radius: 4px;
    background-color: #E0E1DD;
    color: #1B263B;
    font-size: 1rem;
  }
  
  .sortDropdown {
    padding: 8px 12px;
    border: 1px solid #415A77;
    border-radius: 4px;
    background-color: #E0E1DD;
    color: #1B263B;
    font-size: 1rem;
  }
  